@*Model type definition*@
@model List<Property>


@{
    ViewData["Title"] = "Index";
}
<style>
    table, th, td {
        border: 2px solid black;
    }
</style>

<h1> List of Properties</h1>

<table class="table">
    <tr>
        <th> Address Address2</th>
        <th> City </th>
        <th> Zipcode </th>
        <th></th>

    </tr>
    @*Use uppercase Model when implementing*@
    @*Loop for displaying the items in the collection*@

    @foreach (var property in Model)
    {
        <tr>

            <td>@property.Address @property.Address2</td>
            <td>@property.City</td>
            <td>@property.Zipcode</td>
            <td>
                <a asp-controller="property" asp-action="detail" asp-route-id="@property.ID"> Detail</a> |
                <a href="#" class="js-open-modal" data-property-id="@property.ID"> Delete</a>
            </td>

        </tr>


    }

    @if (Model.Count == 0)
    {
        <tr colspan="4">
            <td> You don't have any properties to display. <a href="/property/add"> Add a Property</a></td>
        </tr>
    }


</table>




<!-- Modal -->
<div class="modal fade" id="delete-confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @*<div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                     </div>*@
        <div class="modal-body">
            Are yo sure you want to delete that property?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a id="js-delete-button" class="btn btn-primary">Delete</a>
        </div>
    </div>
</div>



@section Scripts
    {
    <script>
        $('.js-open-modal').on('click', event => {
            const propertyId = $(event.target).data('property-id');
            const url = `/property/delete/${propertyId}`;
            $('#js-delete-button').attr('href', url);
            $('#delete-confirmation').modal('show');
        })
    </script>
}